<html>
<body>
<script>
  TogetherJSConfig_hubBase = 'http://192.168.1.104';
</script>
Hi
<script src='togetherjs.js'></script>
<button onclick="TogetherJS(this); return false;">Start TogetherJS</button>
</body>
</html>
