<html>
<body>
<script>
  TogetherJSConfig_getUserName = '<%= @current_user.email %>';
  TogetherJSConfig_getUserId = '<%= @current_user.id %>';
  TogetherJSConfig_hubBase = 'http://ubuntu.local';
</script>
<div id="welcome">
  Hello <%= @current_user.email %>!!! <a href="/logout">Log out</a>
</div>
<div id="container">
  <form method="post" action="/change">
    <input name="name" id="name" type="text">
    <input type="submit" value="Change">
  </form
</div>
<script src='togetherjs.js'></script>
<button onclick="TogetherJS(this); return false;">Start TogetherJS</button>
</body>
</html>
