<h1>Log in</h1>

<form action="/sessions" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" />
  <p>
    <label for="email">Email</label><br />
    <input type="text" name="email" id="email" />
  </p>
  <p>
    <label for="password">Password</label><br />
    <input type="password" name="password" id="password" />
  </p>
  <p class="button"><input type="submit" name="commit" value="Login" /></p>
</form>
<a href="/signup">or signup</a>
